@inherits LayoutComponentBase

<div class="app-grid-container" style="padding: 5px; box-sizing: border-box;">
    <div class="item grid-body">
        @Body
    </div>
    <div class="item grid-nav">
        <NavMenu />
    </div>
</div>