@inject NavigationManager navigationManager

<nav class="nav-center">
    <div>
        <SmallButtonComponent Text="Home" OnClick="@(() => navigationManager.NavigateTo("/"))" />
        <SmallButtonComponent Text="Stats" OnClick="@(() => navigationManager.NavigateTo("statistics"))" />
        <SmallButtonComponent Text="Deck" OnClick="@(() => navigationManager.NavigateTo("deck"))" />
        <SmallButtonComponent Text="Other" OnClick="@(() => navigationManager.NavigateTo("other"))" />
    </div>

</nav>