@inherits Components.BaseComponent
@inject CardManager CardManager
@inject StatisticsManager StatisticsManager
@inject GameState GameState
@inject SupportedCards SupportedCards

<div class="app-grid-container">

    <div class="grid-button1">
        <button type="button" class="social-btn standard-btn"
                @onclick='() => navigationManager.NavigateTo("/")'>
            <img src="./home4.svg">
            <span>Home</span>
        </button>
    </div>

    <div class="grid-button2">
        <button type="button" class="social-btn standard-btn"
                @onclick='() => navigationManager.NavigateTo("statistics")'>
            <img src="./stats2.svg">
            <span>Statistics</span>
        </button>
    </div>

    <div class="grid-button3">
        <button type="button" class="social-btn standard-btn"
                @onclick='() => navigationManager.NavigateTo("search")'>
            <img src="./search.svg">
            <span>Search</span>
        </button>
    </div>

    <div class="grid-button4">
        <button type="button" class="social-btn standard-btn"
                @onclick='() => navigationManager.NavigateTo("deck")'>
            <img src="./deck.svg">
            <span>Deck</span>
        </button>
    </div>

</div>

@code{
    public async Task ResetCards()
    {
        CardManager.RefreshCards();
        GameState.RefreshGameState(CardManager.MainDeck, CardManager.ExtraDeck);
        SupportedCards.RefreshUpdate();
        StatisticsManager.StatValues.Idle = true;
        StatisticsManager.RefreshStatistics();
    }
}