@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row" style="height: 30px; background-color: #333; color: white; border: 1px solid black;">
            Temporary UI
        </div>
        @Body
    </main>
</div>
