@page "/"
@using TellarknightApp.Components.Pages.Home.HomeComponents;


<div class="page-background-class">
    <div class="app-grid-container">
        <div class="item grid-statistics">
            <StatisticsComponent @ref="statisticsComponent" UpdateState="UpdateState"></StatisticsComponent>
        </div>
        <div class="item grid-cards">
            <CardsComponent UpdateState="UpdateState" ResetCardsParameter="ResetCardsParent"></CardsComponent>
        </div>
    </div>
</div>

@code {
    private StatisticsComponent statisticsComponent;

    public async Task UpdateState()
    {
        await InvokeAsync(StateHasChanged);
    }

    public async Task ResetCardsParent()
    {
        statisticsComponent.ResetCards();
        UpdateState();
    }
}
