@page "/"
@using TellarknightApp.Components.Pages.Home.HomeComponents;
@inject SupportedCards supportedCards
@inject Decklist decklist

<div class="page-background-class">
    <div class="app-grid-container">
        <div class="item grid-statistics">
            <StatisticsComponent UpdateState="UpdateState"></StatisticsComponent>
        </div>
        <div class="item grid-cards">
            <CardsComponent UpdateState="UpdateState"></CardsComponent>
        </div>
    </div>
</div>

@code {

    public async Task UpdateState()
    {
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnInitializedAsync()
    {
        supportedCards.Action += StateHasChanged;
        decklist.Action += StateHasChanged;
    }
}
