@page "/"
@using TellarknightApp.Components.Pages.Home.HomeComponents;

<div class="container">
    <div class="item materials">
        <MaterialsComponent></MaterialsComponent>
    </div>
    <div class="item recipes">
        <RecipesComponent></RecipesComponent>
    </div>
    <div class="item crafting">
        <CraftComponent></CraftComponent>
    </div>
    <div class="item history">
        <HistoryComponent></HistoryComponent>
    </div>
</div>


@code {

}
