@page "/"
@using TellarknightApp.Components.Pages.Home.HomeComponents;

<div class="app-grid-container">
    <div class="item grid-statistics">
        <StatisticsComponent></StatisticsComponent>
    </div>
    <div class="item grid-cards">
        <CardsComponent></CardsComponent>
    </div>
</div>


@code {

}
