html, body {
    margin: 0;
    padding: 0;
}

.app-grid-container {
    display: grid;
    grid-template-rows: 1fr 8fr;
    grid-template-columns: 3fr 1fr;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.item {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}
