@page "/"
@inherits Components.BaseComponent
@inject CardManager CardManager
@inject StatisticsManager StatisticsManager
@inject GameState GameState
@inject SupportedCards SupportedCards
@inject NewsService NewsService


<br />
<div >
    <button class="btn btn-secondary" @onclick="ImportYdk">Import YDK</button>
    <button class="btn btn-secondary" @onclick="ExportYdk">Export YDK</button>

</div>
<br />
<div style="color: white;">
    Updates/PatchNotes:
    @foreach (var entry in NewsService.Entries)
    {
        <div>
            <b>@entry.Header</b> | @entry.Version | @entry.Date
            <p>@entry.Content</p>
        </div>
    }
</div>

@code{

    protected override async Task OnInitializedAsync()
    {
        await NewsService.GetNewsAsync();
    }

    async Task ExportYdk()
    {
        await CardManager.ExportYdk();
    }

    async Task ImportYdk()
    {
        await CardManager.ImportYdk();
        navigationManager.NavigateTo("deck");
    }

}
