@page "/"
@inherits Components.BaseComponent
@inject CardManager CardManager
@inject StatisticsManager StatisticsManager
@inject GameState GameState
@inject SupportedCards SupportedCards
@inject NewsService NewsService


<br />
<div >
    <button class="btn btn-secondary" @onclick="ImportYdk">Import YDK</button>
    <button class="btn btn-secondary" @onclick="ExportYdk">Export YDK</button>

</div>
<br />
<div style="color: white;">
    Updates/PatchNotes:
    @foreach (var entry in NewsService.Entries)
    {
        <div>
            <b>@entry.Header</b> | @entry.Version | @entry.Date
            <p>@entry.Content</p>
        </div>
    }
</div>

@code{

    private readonly FilePickerFileType YdkFileType = new(
    new Dictionary<DevicePlatform, IEnumerable<string>> {
        { DevicePlatform.WinUI, new[] { ".ydk" } }
    });

    protected override async Task OnInitializedAsync()
    {
        await NewsService.GetNewsAsync();
    }
        
    async Task ExportYdk()
    {
        using var filecontent = new MemoryStream(Encoding.UTF8.GetBytes(GenerateYdk()));
        var fileSaverResult = await FileSaver.SaveAsync("tellarknight.ydk", filecontent);
    }

    async Task ImportYdk()
    {
        var result = await FilePicker.PickAsync(new PickOptions { FileTypes = YdkFileType });

        if (result is null)
            return;

        using var stream = await result.OpenReadAsync();
        using var reader = new StreamReader(stream);
        var content = await reader.ReadToEndAsync();

        ReadYdk(content);
        navigationManager.NavigateTo("deck");
    }

    private string GenerateYdk()
    {
        CardManager.BuildDecklist();
        var sb = new StringBuilder();

        sb.AppendLine("#main");
        foreach (var card in CardManager.MainDeck.Where(x => x.Role != "Extra Deck" && x.Id != 0))
        {
            sb.AppendLine(card.Id.ToString());
        }

        sb.AppendLine("#extra");
        foreach (var card in CardManager.ExtraDeck.Where(x => x.Id != 0))
        {
            sb.AppendLine(card.Id.ToString());
        }

        sb.AppendLine("!side");

        return sb.ToString();
    }

    private void ReadYdk(string content)
    {
        CardManager.RefreshCards();
        GameState.RefreshGameState(CardManager.MainDeck, CardManager.ExtraDeck);
        SupportedCards.RefreshUpdate();
        StatisticsManager.StatValues.Idle = true;
        StatisticsManager.RefreshStatistics();

        var lines = content.Split('\n');

        foreach (var line in lines)
        {
            var isCardId = int.TryParse(line.Trim(), out int cardId);

            if (!isCardId)
                continue;

            var card = SupportedCards.Cards.FirstOrDefault(x => x.Id == cardId);

            if (card != null)
                card.Quantity++;
            else
                SupportedCards.Cards.FirstOrDefault(x => x is EmptyCard).Quantity++;
        }
    }
}
